{% extends 'master.html' %}
{% block body %}

{% for post in wall_posts %}
    <div> 
        content: {{ post[0] }} <br> 
        date: {{ post[1] }} <br>
        author: {{ post[3] }}  
    </div>
{% endfor %}

{% if user_id != None %}
    <form method = "POST" action = "/user/{{ wall_posts[0][2] }}">
        <input class="form-control" type = "textarea" name = "post_content"></input>
        <input class="btn btn-lg btn-primary btn-block" type = "submit"></input>
    </form>
{% endif %}

{% endblock %}